# PHP
alias phpunit="vendor/bin/phpunit"
alias pest="vendor/bin/pest"
alias dusk="php artisan dusk"
alias artisan="php artisan"
alias sail="vendor/bin/sail"

# PhpStorm
alias phpstorm="nohup phpstorm . &"

# Dock
alias dock="php dock"

# Vessel
alias v="php vessel"
alias vessel="php vessel"

# JavaScript
alias jest="./node_modules/.bin/jest"

# Git
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# List all files colorized in long format
alias ll="ls -lhF"
alias l="ls -lhF"
alias la="ls -lhFA"

# IP addresses
alias publicip="curl https://diagnostic.opendns.com/myip ; echo"
alias localip="ip addr show | grep -o 'inet \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet? (addr:)? ?/, \"\"); print }'"

# enables sudo aliases
alias sudo="sudo "

# Misc
alias hostfile="sudo nano /etc/hosts"
alias sshconfig="nano ~/.ssh/config"
alias grep="grep --color=auto"
alias mv="mv -v"
alias cp="cp -v"
alias rm="rm -v"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias tmp="cd /tmp"
alias please="sudo"
alias log="tail -F"
alias cpr="rsync -av —progress"
alias meteo="curl http://wttr.in"
