# Create a new directory and enter it
function mkd() {
   mkdir -p "$@" && cd "$@"
}


# archive file command
archive () {
   zip -r "$1".zip "$1" ;
}

# issue a new github release
function release(){
    "$HOME/.dotfiles/shell/scripts/release.sh" "$@";
}
